body{
    font-family: Arial, Verdana;
    background-color:#000000;
    color:#FFFFFF;
    margin:20px 20px 0px 20px;
}

h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 24px;
    padding-top:10px;
    padding-left:10px;
}

img{
    width: 250px;
    display: block;
    margin: 0 auto;
    border:#FFFFFF 10px dashed;
}

div{
    min-height: 200px;
    padding: 20px;
    border: 3px #FFFFFF solid;
}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 200%;
}

.red{
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid white;
    border-left: 5px solid white;
}

.blue{
    background-color: blue;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid white; 
    border-top: 2px solid white;
    color:#C4C4C4;
}

.yellow{
    background-color: yellow;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid white;
    border-left: 5px solid white;
    color:#707070;
}

.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid white;
    border-top: 2px solid white;
}

footer{
    border: 5px #FFFFFF solid;
}

footer > p{
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0px;
}
